<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <h2 th:text="'List of Owners'">Owners</h2>
    <table id="vets" class="table table-striped">
        <thead>
            <tr>
                <th style="width: 100px;">ID</th>
                <th style="width: 140px;">FirstName</th>
                <th style="width: 140px;">LastName</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner: ${owners}">
                <td th:text="${owner.id}"></td>
                <td th:text="${owner.firstName}"></td>
                <td th:text="${owner.lastName}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>